<!-- About Me  -->
<section id="aboutme">
    <div class="container-fluid abt-me">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="static/images/laptop-1.jpg" class="laptop-img" alt="">
            </div>
            <div class="col-lg-6 abt-me-div">
                <h2>ABOUT ME</h2>
                <br>
                <p class="lowering-hierachy-black">Born on 26 March,2003 in the beautiful city of Haridwar.
                    I am college student currently persuaing engineering due to my love for the subject of Mathematics.
                    My ideal for working forward is pretty simple that keep getting better than your previous version
                    every time.
                    Since childhood had the habit of working as a solo unit and hence developed habit of sitting long
                    hours by myself.
                    But given a responsibility I will give all my efforts in the betterment of me and my colleagues.
                    I love to spend time coding, watching series , anime or playing games etc.
                    I was always kind of restricted to myself kind of person.
                    You would find me most slackened when I have a cup of coffee and my laptop.
                </p>
            </div>
        </div>
    </div>
</section>