<footer>

    <section id="get-in-touch">
        <div class="container-fluid">
            <h2 style="color: white;">Get in Touch</h2>
            <h3>An Amateur Learning How to Code</h3>
            <p class="lowering-heirachy-white">If you find me interesting or we share any common interests or are
                interested in collabrating on any projects with me. Make sure to contact me</p>
            <a href="{{ url_for('contact_page')}}"><button class="contact-me-btn">Contact Me</button></a>
        </div>

    </section>