<!--Education-->
<section id="education">
    <div class="container-fluid divs-to-be-expanded-on-smallscreen">
        <h2 style="color: white;">My Education</h2>
        <br>
        <p class="lowering-hierachy-white">Education being the most crucially necessary tool to survive, being an eager
            leaner has always been one of my trait.
            Not only reading the textbook pages comprise being educated but overall development in every aspect of
            personality development.
            I'd love the opportunity to talk to you about how my academic background could benefit you, so get in
            touch.</p>
        <br>
        <br>

        <div class="institute-div">
            <h3>GRADUATION: <a href="https://www.dpshardwar.com/" class="institute-link">DPS RANIPUR <i
                    class="fas fa-school"></i></a></h3>
            <h4 class="lowering-hierachy-white">2008-2020</h4>
            <p class="lowering-hierachy-white">I've recieved my foundational educational in one most of the established
                schools.
                My subjects in 12th standard were Physics, Chemistry and Mathematics along with Computer Science.
                Along with trying to perfect my academic scores in the examinations I also tried induldged myself in
                extra curicular activities although I was never much good at those.
            </p>
        </div>

        <div class="institute-div">
            <h3>BTECH MATHEMATICS AND COMPUTING:<a href="http://nith.ac.in/" class="institute-link">NIT HAMIRPUR <i
                    class="fas fa-university"></i> </a></h3>
            <h4 class="lowering-hierachy-white">2021-2025</h4>
            <p class="lowering-hierachy-white">Currently I am enrolled in BTech Programme for Mathematics and Computing
                aiming for becoming a full stack developer.
                I find this course intriguing because it focuses on Data Sciences and Algorithms which is another field
                of my interest</p>
        </div>
    </div>
</section>
