
    <section id="socials">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6 social-icons">
                <a href="https://twitter.com/MehulakaAce"><i class="fab fa-twitter fa-2x s-icons twitter"></i></a>
                <a href="https://www.linkedin.com/in/mehul-aggarwal-47285421b/"><i class="fab fa-linkedin fa-2x s-icons"></i></a>
                <a href="https://www.instagram.com/mehul_tp26/"><i class="fab fa-instagram fa-2x s-icons"></i></a>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="copyright">
            <p class="lowering-hierachy-white">&copy;2022  Mehul Aggarwal</p>

        </div>
    </section>

</footer>


</body>
</html>