<!--Title-->
<section id="title">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">
                <img src="static/images/updated profile pic.jpg" alt="profile image" class="profile-img">
            </div>
            <div class="col-lg-6 title-text">
                <h1>Mehul Aggarwal</h1>
                <h3 class="intro-p lowering-hierachy-white"> Or as we would like to say </h3>
                <h3 class="intro-p hello-world lowering-hierachy-white"> "Hello World"</h3>
            </div>
        </div>
    </div>
</section>
