<!-- INTERESTS  -->
<section id="interests">
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item item-1 active" data-interval="5000">
                <h2>Intermediary Programmer</h2><br>
                <p class="carousel-text">Currently trying to acquire a few language through online courses and polishing
                    skills by making projects.</p>
            </div>

            <div class="carousel-item item-2" data-interval="5000">
                <h2>Novice Designer</h2><br>
                <p class="carousel-text">Not very great at old fashioned art by hands but will be soon starting to learn
                    how to make digital art and video editing.</p>
            </div>

            <div class="carousel-item item-3" data-interval="5000">
                <h2>Fantansy Player Enthusiast</h2><br>
                <p class="carousel-text">Unlike most people I know I like to Role Playing Fantasy games such as Dnd. If
                    you conducting a session make to invite me :)</p>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
            <i class="fas fa-4x fa-chevron-left crs-btns"></i>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
            <i class="fas fa-4x fa-chevron-right crs-btns"></i>
            <span class="sr-only">Next</span>
        </button>
    </div>

</section>

<!-- SKILLS  -->
<section id="skills">

    <h2>Some Languages that I've Learnt</h2>
    <br><br>
    <div class="card-group row">

        <div class="col-lg-4 col-md-6 card-column">
            <div class="card">
                <img src="static/images/python-symbol.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Python</h3>
                    <p class="lowering-hierachy-black">Familiar with libraries like Turtle,SMTPlib,BeautifulSoup</p>
                    <p class="lowering-hierachy-black">Learning Data Science</p>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 card-column">
            <div class="card">
                <img src="static/images/HTML- symbol.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">HTML</h3>
                    <p class="lowering-hierachy-black">Since webdev interests me</p>
                    <p class="lowering-hierachy-black">Familiar with the concept of wireframing</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 card-column">
            <div class="card">
                <img src="static/images/CSS-symbol.png" class="card-img-top " alt="...">
                <div class="card-body">
                    <h3 class="card-title">CSS</h3>
                    <p class="lowering-hierachy-black">HTML alone doesn't survives</p>
                    <p class="lowering-hierachy-black">Learnt a bit about Bootstrap classes and components</p>
                </div>
            </div>
        </div>

    </div>

</section>
